body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}
a { cursor: pointer; }
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
h1{text-align:center;}
form.limited-width { max-width: 500px; margin: auto; }
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}
.search-link-container {
    padding: 20px 0 40px;
}

.bottom-link-container {
    padding: 100px 0 120px;
}
.bottom-link-container .btn { margin: 10px 0px; }
.page-buttons {
    text-align: right; padding: 10px 0; }