<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>311 - Chicago - Log in</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">


    <div class="search-link-container">
        <a th:if="${request != null}" th:href="@{/newRequest(requestId=${request.requestid})}" class="search-link btn btn-default">Edit</a>
    </div>
    <span th:text="${newRequestSuccess}"></span>
    <br/>
    <h2>You just submitted a new Request</h2>
    <h3>Details about your new request</h3>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Request Type</th>
            <th scope="col">Street Address</th>
            <th scope="col">Zip Code</th>
            <th scope="col">Ward</th>
            <th scope="col">Police District</th>
            <th scope="col">Created On</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row" th:text="${request.requestid} > 0 ? ${request.servicerequestnumber} : ''"></th>
            <th:block th:switch="${request.type_id}">
                <th th:case="1">Abandoned Vehicle Complaint</th>
                <th th:case="2">Alley Light Out</th>
                <th th:case="3">Garbage Cart Black Maintenance/Replacement</th>
                <th th:case="4">Graffiti Removal</th>
                <th th:case="5">Pothole in Street</th>
                <th th:case="6">Rodent Baiting/Rat Complaint</th>
                <th th:case="7">Sanitation Code Violation</th>
                <th th:case="8">Street Light Out</th>
                <th th:case="9">Street Lights - All/Out</th>
                <th th:case="10">Tree Debris</th>
                <th th:case="11">Tree Trim</th>
                <th th:case="12">Vacant/Abandoned Building</th>
            </th:block>
            <td th:text="${request.streetaddress}"></td>
            <td th:text="${request.zipcode}"></td>
            <td th:text="${request.ward}"></td>
            <td th:text="${request.policedistrict}"></td>
            <td th:text="${#strings.substring(request.createdon,0,16)}"></td>
        </tr>
        </tbody>
    </table>


    <form  action="#" th:action="@{/newRequestDetails}" th:object="${requestDetails}" method="post" class="limited-width">


        <th:block th:switch="${request.type_id}">
            <div class="form-group" th:case="1">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{licenseplate}" class="form-control" placeholder="License Plate"/><br/>
                <input type="text" th:field="*{vehiclemakemodel}" class="form-control" placeholder="Vehicle Make Model"><br/>
                <input type="text" th:field="*{vehiclecolor}" class="form-control" placeholder="Vehicle Color"/><br/>
                <input type="text" th:field="*{currentactivity}" class="form-control" placeholder="Current Activity"/><br/>
                <input type="text" th:field="*{mostrecentaction}" class="form-control" placeholder="Most Recent Action"/><br/>
                <input type="text" th:field="*{daysabandoned}" class="form-control" placeholder="Days Abandoned"/><br/>
                <input type="text" th:field="*{ssa}" class="form-control" placeholder="SSA"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="form-group" th:case="2">
                <h1>You are all set! </h1>
            </div>
            <div class="form-group" th:case="3">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{numberofblackcartsdelivered}" class="form-control" placeholder="Number of Black Carts Delivered"/><br/>
                <input type="text" th:field="*{currentactivity}" class="form-control" placeholder="Current Activity"/><br/>
                <input type="text" th:field="*{mostrecentaction}" class="form-control" placeholder="Most Recent Action"/><br/>
                <input type="text" th:field="*{ssa}" class="form-control" placeholder="SSA"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="form-group" th:case="4">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{typeofsurface}" class="form-control" placeholder="Type of Surface"/><br/>
                <input type="text" th:field="*{graffitilocation}" class="form-control" placeholder="Graffiti Location"/><br/>
                <input type="text" th:field="*{ssa}" class="form-control" placeholder="SSA"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
            <div class="form-group" th:case="5">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{numberofpotholesfilledonblock}" class="form-control" placeholder="Number of Potholes Filled on block"/><br/>
                <input type="text" th:field="*{currentactivity}" class="form-control" placeholder="Current Activity"/><br/>
                <input type="text" th:field="*{mostrecentaction}" class="form-control" placeholder="Most Recent Action"/><br/>
                <input type="text" th:field="*{ssa}" class="form-control" placeholder="SSA"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>

            <div class="form-group" th:case="6">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{numberofpremisesbaited}" class="form-control" placeholder="Number of premises baited"/><br/>
                <input type="text" th:field="*{numberofpremiseswithgarbage}" class="form-control" placeholder="Number of premises with garbage"/><br/>
                <input type="text" th:field="*{numberofpremiseswithrats}" class="form-control" placeholder="Number of premises with rats"/><br/>
                <input type="text" th:field="*{currentactivity}" class="form-control" placeholder="Current Activity"/><br/>
                <input type="text" th:field="*{mostrecentaction}" class="form-control" placeholder="Most Recent Action"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>

            <div class="form-group" th:case="7">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{natureofcodeviolation}" class="form-control" placeholder="Nature of code violation"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>

            <div class="form-group" th:case="8">
                <h1>You are all set! </h1>
            </div>

            <div class="form-group" th:case="9">
                <h1>You are all set! </h1>
            </div>

            <div class="form-group" th:case="10">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{debrislocation}" class="form-control" placeholder="Debris location"/><br/>
                <input type="text" th:field="*{currentactivity}" class="form-control" placeholder="Current Activity"/><br/>
                <input type="text" th:field="*{mostrecentaction}" class="form-control" placeholder="Most Recent Action"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>

            <div class="form-group" th:case="11">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{locationoftrees}" class="form-control" placeholder="Location of trees"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>

            <div class="form-group" th:case="12">
                <h1>You can file extra details for your request</h1>
                <input type="text" th:field="*{servicerequesttype}" class="form-control" placeholder="servicerequesttype"/><br/>
                <input type="text" th:field="*{buildinglocationLotBgd}" class="form-control" placeholder="buildinglocationLotBgd"/><br/>
                <input type="text" th:field="*{dangerousorhazardous}" class="form-control" placeholder="dangerousorhazardous"/><br/>
                <input type="text" th:field="*{openorboarded}" class="form-control" placeholder="openorboarded"/><br/>
                <input type="text" th:field="*{ifopenentrypoint}" class="form-control" placeholder="ifopenentrypoint"/><br/>
                <input type="text" th:field="*{vacantoroccupied}" class="form-control" placeholder="vacantoroccupied"/><br/>
                <input type="text" th:field="*{vacantduetofire}" class="form-control" placeholder="vacantduetofire"/><br/>
                <input type="text" th:field="*{peopleusingproperty}" class="form-control" placeholder="peopleusingproperty"/><br/>
                <input type="text" th:field="*{addressstreetnumber}" class="form-control" placeholder="addressstreetnumber"/><br/>
                <input type="text" th:field="*{addressstreetdirection}" class="form-control" placeholder="addressstreetdirection"/><br/>
                <input type="text" th:field="*{addressstreetname}" class="form-control" placeholder="addressstreetname"/><br/>
                <input type="text" th:field="*{addressstreetsuffix}" class="form-control" placeholder="addressstreetsuffix"/><br/>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>

        </th:block>
        <input type="hidden" th:field="*{requestid}" class="form-control" placeholder="servicerequesttype"/><br/>

    </form>


    <div class="bottom-link-container">
        <a href="/newRequest" class="search-link btn btn-lg btn-default">Make a new request</a>
        <a href="/search" class="search-link btn btn-lg btn-default">Search for past requests</a>
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>