<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>311 - Chicago</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">

    <link href="../../css/common.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <h1>Here you can search for past requests</h1>



    <form action="#" th:action="@{/search}" th:object="${searchInput}" method="get" class="limited-width">
        <p>
        <label for="searchStreet">Search:</label>
        </p>
        <input name="searchStreet" id="searchStreet" class="form-control" th:field="*{streetaddress}" placeholder="Street Address"/>
        <br/>
        <input name="searchZipcode" id="searchZipcode"class="form-control"  th:field="*{zipcode}" placeholder="Zipcode"/>
        <br/>
        <input name="searchSRN" id="searchSRN"class="form-control"  th:field="*{servicerequestnumber}" placeholder="SRN"/>
        <br/>
        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
        <h3 th:text="${ResultText}"></h3>
    </form>


        <div th:if="${not #lists.isEmpty(search)}">
            <h2>Search Results </h2>
            <div class="page-buttons">
                <a class="btn btn-lg btn-primary" th:if="${PrevPageUrl != null}" th:href="${PrevPageUrl}">Previous page</a>
                <a class="btn btn-lg btn-primary" th:if="${NextPageUrl != null}" th:href="${NextPageUrl}">Next page</a>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Request Type</th>
                    <th scope="col">Street Address</th>
                    <th scope="col">Zip Code</th>
                    <th scope="col">Ward</th>
                    <th scope="col">Police District</th>
                    <th scope="col">Created On</th>
                    <th scope="col">Completed On</th>
                    <th scope="col">Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="search : ${search}">
                    <th scope="row" th:text="${search.servicerequestnumber}"></th>
                    <th:block th:switch="${search.type_id}">
                        <th th:case="1">Abandoned Vehicle Complaint</th>
                        <th th:case="2">Alley Light Out</th>
                        <th th:case="3">Garbage Cart Black Maintenance/Replacement</th>
                        <th th:case="4">Graffiti Removal</th>
                        <th th:case="5">Pothole in Street</th>
                        <th th:case="6">Rodent Baiting/Rat Complaint</th>
                        <th th:case="7">Sanitation Code Violation</th>
                        <th th:case="8">Street Light Out</th>
                        <th th:case="9">Street Lights - All/Out</th>
                        <th th:case="10">Tree Debris</th>
                        <th th:case="11">Tree Trim</th>
                        <th th:case="12">Vacant/Abandoned Building</th>
                    </th:block>
                    <td th:text="${search.streetaddress}"></td>
                    <td th:text="${search.zipcode}"></td>
                    <td th:text="${search.ward}"></td>
                    <td th:text="${search.policedistrict}"></td>
                    <td th:text="${#strings.substring(search.createdon,0,10)}"></td>
                    <td th:text="${#strings.substring(search.completedon,0,10)}"></td>
                    <td>
                        <a th:href="@{/newRequest(requestId=${search.requestid})}" class="search-link btn btn-default">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="page-buttons">
                <a class="btn btn-lg btn-primary" th:if="${PrevPageUrl != null}" th:href="${PrevPageUrl}">Previous page</a>
                <a class="btn btn-lg btn-primary" th:if="${NextPageUrl != null}" th:href="${NextPageUrl}">Next page</a>
            </div>
        </div>


    <div class="bottom-link-container">
        <a href="/newRequest" class="search-link btn btn-lg btn-default">Make a new request</a>
    </div>

</div>
<!-- /container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>
