<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>311 - Chicago</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">

        <form id="logoutForm" method="POST" th:action="@{/logout}" action="#">
            <input type="hidden"  th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>

        <h2>Welcome <span th:text ="${user.firstName}"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a></h2>

        <div class="search-link-container">
            <a href="/newRequest" class="search-link btn btn-lg btn-primary">Make a new request</a>
            <a href="/search" class="search-link btn btn-lg btn-primary">Search for past requests</a>
        </div>
        <span th:text="${newRequestSuccess}"></span>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="../../js/bootstrap.min.js"></script>
</body>
</html>
